*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(239, 239, 239);
    overflow-x: hidden;
}
.link {
    font-size: 20px;
    font-weight: 600;
}

.hanba a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.apnabtn {
    padding: 20px;
}

footer{
    color: #000;
    margin-left: 50px;
    height: 300px;
    width: 100%;
    /* background-color: white; */
}

.footer-logo{
    width: 70px;
    height: 70px;
    /* margin-top: 50px; */
    position: relative;
    top: 70px;
    left: 50px;
}

.main-heading {
    font-size: 4rem;
    font-weight: 800;
}

.col-md-6 p {
    font-size: 20px;
}

.first {
    margin-top: 100px;
}

.navbar {
    border-bottom: 2px solid black;
}

.btndown {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-size: 25px;
    width: 250px;
    margin-right: 30px;
    margin-top: 30px;
}

.ms-7{
    margin-left: 300px;
}
.btndown12 {
    /* padding: 20px; */
    background-color: black;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    /* gap: 10px; */
    margin-left: 10px;
    height: 40px;
    width: 270px;
    /* margin-right: 30px; */
    /* margin-top: 30px; */
}

.pehlirow {
    margin-top: 50px;
}

.inputboxwala {
    display: flex;
    justify-content: space-between;
    background-color: #75BF7A;
    margin-top: 50px;
}

.side2 input {
    width: 340px;
    padding: 20px;
    border: none;
    border-radius: 8px;
}

.side2 button {
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 5px
}

.side1 {
    color: white;
    font-size: 18px;
    margin-top: 10px
}

.haha {
    font-size: 20px;
}

.circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.main-circle {
    width: 300px;
    height: 300px;
    background-color: #71c683;
    border-radius: 50%;
    z-index: 1;
}

.number-icon {
    width: 40px;
    height: 40px;
    border: 3px solid #71c683;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #71c683;
    margin-bottom: 15px;
    font-size: 20px;
}

.feature-box h5 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.feature-box p {
    color: #6c757d;
    font-size: 0.95rem;
    line-height: 1.4;
}

.dotwala{
    margin-left: 614px;
}

.aa01{
    font-size: 7rem;
    color: #75BF7A;
}
.aa02{
    font-size: 3.5rem;
    color: #000;
    line-height: 0.8;
    margin-top: 25px;
}

@media (min-width: 992px) {
    .left-side {
        text-align: right;
    }

    .left-side .number-icon {
        margin-left: auto;
    }

    .right-side {
        text-align: left;
    }
}

@media (max-width: 991px) {
    .circle-container {
        min-height: auto;
        padding: 50px 0;
    }

    .main-circle {
        display: none;
    }

    .feature-box {
        text-align: center;
        margin-bottom: 30px;
    }

    .number-icon {
        margin: 0 auto 15px;
    }
}
